html, body {
  margin: 0;
  padding: 0;

  background-color: #eee;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.auto-template-field {
  padding-left: 0.1in;
  padding-right: 0.1in;
  padding-top: 0.01in;
  padding-bottom: 0.01in;
}

.auto-template-field:nth-of-type(1) {
  margin-top: 0.2in;
  margin-bottom: 0.2in;
}

.auto-template-number {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.auto-template-title {
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
}

.auto-template-text {
  font-size: 1em;
  text-align: center;
}

.card {
  /* Standard poker card */
  width: 2.5in;
  height: 3.5in;

  /* Content should be clipped if too large */
  overflow: hidden;
}

.page {
  /* A4 portrait */
  width: 21cm;
  height: 29.7cm;

  /* Put some separation between pages. Purely for show. */
  margin: 1cm auto;

  /* Paddings that precisely allow 3x3 cards to be laid out on a single A4 page */
  padding-top: 1.52cm;
  padding-bottom: 1.52cm;
  /* Side paddings set to .01 less than what they actually should be to prevent
  any rounding issues causing cards to not be laid out as expected */
  padding-left: 0.97cm;
  padding-right: 0.97cm;

  background: #fff;
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

  /* Lay out cards horizontally */
  display: flex;
  flex-wrap: wrap;

  /* Ensure all cards are aligned towards the top; not the center */
  align-content: start;
}

.page-content {
  /* Exactly the size of 3 cards laid out horizontally */
  width: 7.5in;
  /* Exactly the size of 3 cards laid out vertically */
  height: 10.5in;

  position: absolute;
}

.footer {
  height: 0.8cm;
  width: 100%;

  /* Should appear at below the content */
  top: 100%;

  position: relative;

  overflow: hidden;
}

.footer-item {
  /* Split up each footer item in 3 columns */
  width: 33.3%;

  padding-top: 1mm;
  padding-left: 3mm;
  padding-right: 3mm;
  padding-bottom: 0;

  position: absolute;
}

#footer-title {
  text-align: left;
}

#footer-description {
  text-align: center;

  left: 33.3%;
}

#footer-copyright {
  text-align: right;

  right: 0;
}

.page-cut-line {
  width: 5mm;
  height: 5mm;

  position: absolute;
}

#page-cut-line-top-left-horizontal {
  border-bottom: 0.6mm dashed black;

  top: -4.6mm;
  left: -6mm;
}

#page-cut-line-top-right-horizontal {
  border-bottom: 0.6mm dashed black;

  top: -4.6mm;
  left: 100.5%;
}

#page-cut-line-bottom-left-horizontal {
  border-top: 0.6mm dashed black;

  top: 99.85%;
  left: -6mm;
}

#page-cut-line-bottom-right-horizontal {
  border-top: 0.6mm dashed black;

  top: 99.85%;
  left: 100.5%;
}

#page-cut-line-top-left-vertical {
  border-right: 0.6mm dashed black;

  top: -6mm;
  left: -4.6mm;
}

#page-cut-line-top-right-vertical {
  border-left: 0.6mm dashed black;

  top: -6mm;
  left: 99.8%;
}

#page-cut-line-bottom-left-vertical {
  border-right: 0.6mm dashed black;

  top: 100.5%;
  left: -4.6mm;
}

#page-cut-line-bottom-right-vertical {
  border-left: 0.6mm dashed black;

  top: 100.5%;
  left: 99.8%;
}

#page-cut-line-top-middle-left {
  border-left: 0.6mm dashed black;

  top: -6mm;
  left: 33.2%;
}

#page-cut-line-top-middle-right {
  border-left: 0.6mm dashed black;

  top: -6mm;
  left: 66.55%;
}

#page-cut-line-bottom-middle-left {
  border-left: 0.6mm dashed black;

  top: 100.5%;
  left: 33.2%;
}

#page-cut-line-bottom-middle-right {
  border-left: 0.6mm dashed black;

  top: 100.5%;
  left: 66.55%;
}

#page-cut-line-left-middle-top {
  border-top: 0.6mm dashed black;

  top: 33.2%;
  left: -6mm;
}

#page-cut-line-left-middle-bottom {
  border-top: 0.6mm dashed black;

  top: 66.55%;
  left: -6mm;
}

#page-cut-line-right-middle-top {
  border-top: 0.6mm dashed black;

  top: 33.2%;
  left: 100.5%;
}

#page-cut-line-right-middle-bottom {
  border-top: 0.6mm dashed black;

  top: 66.55%;
  left: 100.5%;
}

@page {
  size: A4 portrait;

  /* Margins should match the paddings defined by .page */
  margin-left: 0.97cm;
  margin-right: 0.97cm;
  margin-top: 1.52cm;
  margin-bottom: 1.52cm;
}

@media print {
  html, body {
    background-color: #fff;
  }

  .page {
    /* Chrome - When printing: enable printing of backgrounds. Set margins to Minimum, and disable Headers & Footers */
    /* Safari - When printing: enable printing of backgrounds. */

    /* Slightly less than actual width to ensure cards are laid out as expected
    after any margins have been applied by the browser */
    width: 19.05cm !important;
    height: initial !important;

    padding: 0 !important;

    /* Approximated margins to ensure cards are laid out as expected
    after any margins have been applied by the browser */
    margin-left: 0.6cm !important;
    margin-top: 0.6cm !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;

    background: initial !important;
    box-shadow: none !important;

    /* Force page breaks after each .page element of the document */
    page-break-after: always;
  }

  /* Except for the last .page element to avoid a blank ending page */
  .page:last-child {
    page-break-after: auto;
  }
}
