<div class="page">
  <div class="page-content">
    <div {{cut_guides_style}}>
      <div class="page-cut-line" id="page-cut-line-top-left-horizontal"></div>
      <div class="page-cut-line" id="page-cut-line-top-left-vertical"></div>
      <div class="page-cut-line" id="page-cut-line-top-middle-left"></div>
      <div class="page-cut-line" id="page-cut-line-top-middle-right"></div>
      <div class="page-cut-line" id="page-cut-line-top-right-horizontal"></div>
      <div class="page-cut-line" id="page-cut-line-top-right-vertical"></div>
      <div class="page-cut-line" id="page-cut-line-bottom-left-vertical"></div>
      <div class="page-cut-line" id="page-cut-line-bottom-left-horizontal"></div>
      <div class="page-cut-line" id="page-cut-line-bottom-middle-left"></div>
      <div class="page-cut-line" id="page-cut-line-bottom-middle-right"></div>
      <div class="page-cut-line" id="page-cut-line-bottom-right-horizontal"></div>
      <div class="page-cut-line" id="page-cut-line-bottom-right-vertical"></div>
      <div class="page-cut-line" id="page-cut-line-left-middle-top"></div>
      <div class="page-cut-line" id="page-cut-line-left-middle-bottom"></div>
      <div class="page-cut-line" id="page-cut-line-right-middle-top"></div>
      <div class="page-cut-line" id="page-cut-line-right-middle-bottom"></div>
    </div>
    <div class="footer">
      <div class="footer-item" id="footer-title">{{title}}</div>
      <div class="footer-item" id="footer-description">{{description}}</div>
      <div class="footer-item" id="footer-copyright">{{copyright}}</div>
    </div>
  </div>
  {{cards}}
</div>
