# include additional files
include README.md
include CONTRIBUTING.md
include LICENSE

# include anything in this directory
graft cards/templates

# exclude pesky DS_Store files and compiled python scripts
global-exclude .DS_Store *.py[co]
