<div class="page">
  <div class="page-content">
    {{ cards }}
  </div>
  <div class="page-footer" style="visibility: {{ footer_visibility }};">
    <div class="page-footer-content" style="visibility: {{ title_visibility }};">{{ title }}</div>
    <div class="page-footer-content" style="visibility: {{ description_visibility }};">{{ description }}</div>
    <div class="page-footer-tag">Page {{ page_number }} / {{ pages_total }}</div>
    <div class="page-footer-tag"><img src="resources/cards.svg" width="8px"> cards.py {{ program_version }}</div>
    <div class="page-footer-tag" style="visibility: {{ copyright_visibility }}; margin-right: .5cm;">{{ copyright }}</div>
    <div class="page-footer-tag" style="visibility: {{ version_visibility }};">{{ version }}</div>
  </div>
</div>
