<div class="page">
  <div class="page-content">
    {{ cards }}
  </div>
  <div class="page-footer" style="visibility: {{ footer_visibility }};">
    <div class="page-footer-content">{{ title }} ({{ description }})</div>
    <div class="page-footer-tag">Page {{ page_number }}</div>
    <div class="page-footer-tag"><img src="resources/cards.svg" width="8px"> cards.py {{ program_version }}</div>
    <div class="page-footer-tag" style="margin-right: .5cm;">{{ copyright }}</div>
    <div class="page-footer-tag">{{ version }}</div>
  </div>
</div>
