&#123;&#123; text &#125;&#125; → {{ text }}<br />
&#123;&#123;value&#125;&#125; → {{value}}<br />
&#123;&#123; &nbsp;&nbsp;value &#125;&#125; → {{   value }}<br />
&#123;&#123; VALUE &#125;&#125; → {{ VALUE }}<br />
&#123;&#123; vALUE &#125;&#125; → {{ vALUE }}<br />
&#123;&#123;&#123;value&#125;&#125; → {{{value}}<br />
&#123;&#123;value&#125;&#125;&#125; → {{value}}}<br />
&#123; &#123; value &#125;&#125; → { { value }}<br />
&#123;value &#125;&#125; → {value }}<br />
&#123;&#123; v alue &#125;&#125; → {{ v alue }}<br />
&#123;&#123; v alu e &#125;&#125; → {{ v alu e }}<br />
