<div class="{{ _page_class }}">
  <div class="page-content">
    {{ _cards }}
  </div>
  <div class="page-footer">
    <div class="page-footer-content">{{ _title }}</div>
    <div class="page-footer-content">{{ _description }}</div>
    <div class="page-footer-content">{{ _copyright }}</div>
    <div class="page-footer-content">{{ _version }}</div>
    <div class="page-footer-tag page-number-tag">Page {{ _page_number }} / {{ _pages_total }}</div>
    <div class="page-footer-tag">{{ resources/_logo.svg 8x7 }} cards.py {{ _program_version }}</div>
  </div>
</div>
